body {
    background-color: #000;
    color: #fff;
    text-align: center;
}

canvas {
    /* display: none; */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: -1;
}

h1 {
    font-size: 75px;
}

button {
    width: 300px;
    height: 80px;
    padding: 10px;
    margin-top: 10px;
    color: white;
    border: none;
    cursor: pointer;
    font-size: 18px;
}

#message {
    color: red;
    margin-left: 100px;
}

@media only screen and (max-width: 1000px) {
    /* Khi chiều rộng màn hình nhỏ hơn hoặc bằng 600px */
    h1 {
        font-size: 40px; /* Giảm kích thước font cho màn hình nhỏ */
        text-align: center;
    }

    button {
        text-align: center;
    }

    iframe {
        width: 300px;
        height: auto;
    }

}

#message {
    opacity: 0;
    transition: opacity 2s;
    
    text-align: center;
    margin: 0 auto; /* Căn đều theo chiều ngang */
    
}

#buttons {
    opacity: 0;
    transition: opacity 1s;
    margin-left: 100px;

    text-align: center;
    margin: 0 auto; /* Căn đều theo chiều ngang */
}

#trailer {
    opacity: 0;
    transition: opacity 1s;
    margin: 50px;
}

.show {
    opacity: 1;
}